<h1>New Restaurant</h1>

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.error_notification %>
  <div class="cenas">
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :category, collection: Restaurant::CATEGORIES %>
    <%= f.input :phone_number %>
  </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Go Back', restaurants_path, class:"go-back" %>

